body{
    padding: 0;
    margin: 0;
 
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    
}
body.dark{
    background: #3ddcee;
    transition: all 0.5s;
}
.switch-toggle{
    width: 50px;
    height: 30px;
    appearance: none;
    border-radius: 26px;
    cursor: pointer;
    position: relative;
    background-color: rgb(31, 178, 247);
    box-shadow: inset 0px 0px 16px rgb(0, 0, 27, 3);
}
.switch-toggle::before{
    content: "";
    width: 24px;
    height: 24px;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    background: #dad2bd;
    position: absolute;
    box-shadow: inset 0px 0px 16px rgb(0, 0, 27, 3);
    transition: 0.25s cubic-bezier(.25, -0.59, .82,1.66);
}
.switch-toggle:checked{
    background: rgb(184, 121, 243);
}
.switch-toggle:checked::before{
    left: 24px;
}
/* change light */
header{
    border-bottom: 1px solid rgb(206, 198, 198) ;
    
}
header .line-header{
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .line-header .logo-header a{
    display: inline-flex;
    align-items: center;    
    width: 270px;
    gap: 16px;
    text-decoration: none;
}
header .line-header .logo-header a .img-logo{
    width: 18%;
}
header .line-header .logo-header a  img{

    width: 10%;
}
header .line-header .logo-header a .name-logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 0px 0px 2px lightseagreen;
    font-weight:bold !important;
}

header .line-header .account-header{
    
    display: flex;
    gap: 30px;
    height: 40px;
    justify-content: space-between;
    border-left: 2px solid rgb(206, 198, 198) !important;
    align-items: center;
    padding-left: 20px;
}
/* header .line-header .account-header .account-user{

} */

/* THE END HEADER==================================================================================== */

/* container  */
.container{
    background-color: #f9f9fb;
    font-family: JetBrains Mono,Consolas, 'Courier New', monospace;
    
}
.container .in-container {
    display: flex;  
}
/*  */

.left-in-container{
    background-color: #ffffff;
    width: 250px;
}
.left-in-container .main-account{

    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.left-in-container .main-account a{
    text-decoration: none;
}
.left-in-container .account-user {
    border: 1px solid black;
    width: 40%;
    height: 76px;
    margin: auto;
    margin-top: 15px;
    border-radius: 50%;
    background-color: #f5eeee;
}
.left-in-container .account-user img{
    width: 70%;
    border: 1px solid black;
    margin-top: 8px;
    border-radius: 50%;
}
.left-in-container .main-account a .name-account h3{
    color: black;
    font-weight: bold ;
}

/* menu-left-container */
.menu-left-container {
    width: 90%;
    margin: auto;
}
.menu-left-container .classes-left-container{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;   
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .classes-left-container:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .classes-left-container a{
    display: flex;
    align-items: center;    
    gap: 10px;
    margin-top: 9px;
    margin-left: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .classes-left-container a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .assignment-left{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .assignment-left:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .assignment-left a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 9px;
    margin-left: 8px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .assignment-left a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .thongbao-left{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .thongbao-left:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .thongbao-left a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 9px;
    margin-left: 8px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .thongbao-left a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .notices-left{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .notices-left:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .notices-left a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 9px;
    margin-left: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .notices-left a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .my-profile{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    
}
.menu-left-container .my-profile:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .my-profile a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 9px;
    margin-left: 8px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .my-profile a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .log-out{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    
}
.menu-left-container .log-out:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .log-out a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 9px;
    margin-left: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
    
    
}
.menu-left-container .log-out a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}

.menu-left-container .log-out a .up-log-out{
    border: 1px solid black;
    height: 24px;
    border-radius: 50%;
}



.accept-logout{
    background-color: #ffffff;
    position: fixed;
    z-index:3;
    border: 1px solid rgb(206, 198, 198);
    border-radius: 20px;
    width: 500px;
    margin-top: 120px;
    margin-left: 480px;
    height:160px;
    text-align: center;
    

}
.table-logout{
    width: 400px;
    height: 90%;
    margin: auto;
    margin-top: 10px;
}
.table-logout span{
    font-size: 20px;
    font-weight: bold;
}
.btn-accept{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 40px;
    margin: auto;
    margin-top: 50px;

}
.btn-accept button{
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}
/*  */
/*  */
/* .right-in-container{
    background-color: #f9f9fb;
    
} */
.right-in-container .in-right{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    
}

.right-in-container .in-right .all-classes{
    width: 125%;
    height: 280px;
    margin: auto;
    background-color: #e6e6eb;
    border: 1px solid black;
    border-radius: 10px;

}
.right-in-container .in-right .all-classes h3{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.right-in-container .in-right .all-classes .in-all-classes{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 12px;
}

.right-in-container .in-right .all-classes .in-all-classes .classes{
    width: 160px;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: white;
}
.right-in-container .in-right .all-classes .in-all-classes .classes a {
    text-decoration: none;
    color: rgb(116, 113, 113);
    text-align: center;
}
.right-in-container .in-right .all-classes .in-all-classes .classes .img-classes{
    width: 100px;
    height: 70px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(179, 198, 209);
}
.right-in-container .in-right .all-classes .in-all-classes .classes .img-classes img{
    width: 70%;
    align-items: center;
    justify-content: center;
}

.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 {
    border: 1px solid black;
    width: 140px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: white;

    
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 a{
    display: flex;
    width: 90%;
    margin: auto;
    text-decoration: none;
    align-items: center;
    color: black;
    gap: 4px;
    margin-top: 10px;
    

    
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 a .img{
    width: 48px;
    height: 42px;
    margin: auto;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-1 a .img{
    background-color: rgb(97, 184, 238);
    border: 3px solid rgb(97, 184, 238);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-2 a .img{
    background-color: rgb(209, 238, 44);
    border: 3px solid rgb(209, 238, 44);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-3 a .img{
    background-color: rgb(99, 238, 44);
    border: 3px solid rgb(99, 238, 44);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-4 a .img{
    background-color: rgb(238, 209, 44);
    border: 3px solid rgb(238, 209, 44);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-5 a .img{
    background-color: rgb(169, 64, 196);
    border: 3px solid rgb(169, 64, 196);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 a .img img{
    width: 95%;
    margin: auto;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 a .img .in-img{
    width: 60%;
    height: 28px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 7px;
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 .all{
    margin-right: 10px;
    font-size: 13px;
    font-weight: bolder;
}