body{
    padding: 0;
    margin: 0;
 
}
body{
    padding: 0;
    margin: 0;
 
}
body.dark{
    background: #3ddcee;
    transition: all 0.5s;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    
}
.switch-toggle{
    width: 50px;
    height: 30px;
    appearance: none;
    border-radius: 26px;
    cursor: pointer;
    position: relative;
    background-color: rgb(31, 178, 247);
    box-shadow: inset 0px 0px 16px rgb(0, 0, 27, 3);
}
.switch-toggle::before{
    content: "";
    width: 24px;
    height: 24px;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    background: #dad2bd;
    position: absolute;
    box-shadow: inset 0px 0px 16px rgb(0, 0, 27, 3);
    transition: 0.25s cubic-bezier(.25, -0.59, .82,1.66);
}
.switch-toggle:checked{
    background: rgb(184, 121, 243);
}
.switch-toggle:checked::before{
    left: 24px;
}
/* change light */
header{
    display: block;
    border-bottom: 1px solid rgb(206, 198, 198) ;
}
header .line-header{
    
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
header .line-header .logo-header a{
    display: inline-flex;
    align-items: center;    
    width: 270px;
    gap: 16px;
    text-decoration: none;
}
header .line-header .logo-header a .img-logo{
    width: 18%;
}
header .line-header .logo-header a  img{

    width: 10%;
}
header .line-header .logo-header a .name-logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 0px 0px 2px lightseagreen;
    font-weight:bold !important;
}

header .line-header .account-header{
    
    display: flex;
    gap: 30px;
    height: 40px;
    justify-content: space-between;
    border-left: 2px solid rgb(206, 198, 198) !important;
    align-items: center;
    padding-left: 20px;
}
/* header .line-header .account-header .account-user{

} */

/* THE END HEADER==================================================================================== */

/* container  */
.container{
    background-color: #f9f9fb;
    font-family: JetBrains Mono,Consolas, 'Courier New', monospace;
    
}
.container .in-container {
    display: flex;  
}
/*  */

.left-in-container{
    background-color: #ffffff;
    width: 250px;
}
.left-in-container .main-account{

    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.left-in-container .main-account a{
    text-decoration: none;
}
.left-in-container .account-user {
    border: 1px solid black;
    width: 40%;
    height: 76px;
    margin: auto;
    margin-top: 15px;
    border-radius: 50%;
    background-color: #f5eeee;
}
.left-in-container .account-user img{
    width: 70%;
    border: 1px solid black;
    margin-top: 8px;
    border-radius: 50%;
}
.left-in-container .main-account a .name-account h3{
    color: black;
    font-weight: bold ;
}

/* menu-left-container */
.menu-left-container {
    width: 90%;
    margin: auto;
}
.menu-left-container .classes-left-container{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;   
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .classes-left-container:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .classes-left-container a{
    display: flex;
    align-items: center;    
    gap: 10px;
    margin-top: 9px;
    margin-left: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .classes-left-container a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .assignment-left{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .assignment-left:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .assignment-left a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 9px;
    margin-left: 8px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .assignment-left a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .thongbao-left{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .thongbao-left:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .thongbao-left a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 9px;
    margin-left: 8px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .thongbao-left a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .notices-left{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .notices-left:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .notices-left a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 9px;
    margin-left: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .notices-left a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .my-profile{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    
}
.menu-left-container .my-profile:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .my-profile a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 9px;
    margin-left: 8px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
}
.menu-left-container .my-profile a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}
/*  */
.menu-left-container .log-out{
    border: 1px solid #e6e6eb;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    
}
.menu-left-container .log-out:hover{
    background-color: #e6e6eb ;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}
.menu-left-container .log-out a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 9px;
    margin-left: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:  rgb(75, 73, 73)
    
    
}
.menu-left-container .log-out a:hover{
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}

.menu-left-container .log-out a .up-log-out{
    border: 1px solid black;
    height: 24px;
    border-radius: 50%;
}

/*  */
/* right-in-container */
.right-in-container{}
.right-in-container .in-right{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    position: absolute;
}

.right-in-container .in-right .all-classes{
    position: fixed;
    width: 70%;
    height: 280px;
    margin: auto;
    margin-top: 80px;
    background-color: #e6e6eb;
    border: 1px solid black;
    border-radius: 10px;

}
.right-in-container .in-right .all-classes h3{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.right-in-container .in-right .all-classes .in-all-classes{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 12px;
}

.right-in-container .in-right .all-classes .in-all-classes .classes{
    width: 160px;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: white;
}
.right-in-container .in-right .all-classes .in-all-classes .classes a {
    text-decoration: none;
    color: rgb(116, 113, 113);
    text-align: center;
}
.right-in-container .in-right .all-classes .in-all-classes .classes .img-classes{
    width: 100px;
    height: 70px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(179, 198, 209);
}
.right-in-container .in-right .all-classes .in-all-classes .classes .img-classes img{
    width: 70%;
    align-items: center;
    justify-content: center;
}

.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 {
    border: 1px solid black;
    width: 140px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: white;

    
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 a{
    display: flex;
    width: 90%;
    margin: auto;
    text-decoration: none;
    align-items: center;
    color: black;
    gap: 4px;
    margin-top: 10px;
    

    
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 a .img{
    width: 48px;
    height: 42px;
    margin: auto;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-1 a .img{
    background-color: rgb(97, 184, 238);
    border: 3px solid rgb(97, 184, 238);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-2 a .img{
    background-color: rgb(209, 238, 44);
    border: 3px solid rgb(209, 238, 44);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-3 a .img{
    background-color: rgb(99, 238, 44);
    border: 3px solid rgb(99, 238, 44);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-4 a .img{
    background-color: rgb(238, 209, 44);
    border: 3px solid rgb(238, 209, 44);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes #div1-5 a .img{
    background-color: rgb(169, 64, 196);
    border: 3px solid rgb(169, 64, 196);
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 a .img img{
    width: 95%;
    margin: auto;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 a .img .in-img{
    width: 60%;
    height: 28px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 7px;
}
.right-in-container .in-right .all-classes .in-all-classes .menu-all-classes .in-menu-classes .div1 .all{
    margin-right: 10px;
    font-size: 13px;
    font-weight: bolder;
}
.right-in-container{
    width: 1100px;

}
.right-in-container .content{
    
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.right-in-container .content .all-content{
    width: 80%;
    margin: auto;

    margin-top: 30px;
    
}
.right-in-container .content .all-content .in-content{
    /* border: 1px solid black; */
    border-radius: 12px;
    padding-left: 20px;
    padding-top: 20px;
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    background-color: #ffffff;
    outline: none;
    box-shadow: 2px 2px 8px 6px rgb(226, 225, 225);
    
}
.right-in-container .content .all-content .reading-open{
    border-radius: 12px;
    padding-left: 20px;
    padding-top: 20px;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    background-color: #28d818;
    outline: none;
    box-shadow: 2px 2px 8px 6px rgb(226, 225, 225);
    
}
.right-in-container .content .all-content .reading-open button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    width: 300px;
    height: 40px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 6px;
    background-color: #22bab3;
    border: 1px solid #22bab3;
    box-shadow: 0px 0px 8px 4px rgb(226, 225, 225);
    
}
.right-in-container .content .all-content .reading-open button:hover{
    background-color: #57cbf5;
}
.reading{
    /* border: 1px solid black; */
    position: fixed;
    z-index: 3;
    border-radius: 12px;   
    width: 30%;
    height: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    outline: none;
    box-shadow: 2px 2px 8px 6px rgb(226, 225, 225);
    
}
.reading p{
    font-size: 13px;
    padding: 5px;
    line-height: 22px;
    text-align: center;
}
.btn-on-off{
    display: flex;
    gap: 5px;
}
.reading button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    margin-left: 30px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 6px;
    background-color: #22bab3;
    border: 1px solid #22bab3;
    box-shadow: 0px 0px 8px 4px rgb(226, 225, 225);
    
}
.reading button:hover{
    background-color: #57cbf5;
}

.right-in-container .content .all-content .in-content .cauhoi{
    display: flex;
}
.form-check{
    line-height: 40px;
    height: 200px;
}
.form-check input{
    cursor: pointer;
}
.checkbtn {
    display: flex;
    margin-top: 20px;
    margin-right: 160px;
    float: right;
}
.checkbtn button{
    cursor: pointer;
    width: 85px;
    height: 40px;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 6px;
    background-color: #22bab3;
    border: 1px solid #22bab3;
    box-shadow: 0px 0px 8px 4px rgb(226, 225, 225);
}
.checkbtn button:hover{
    background-color: #57cbf5;
}
.accept-logout{
    background-color: #ffffff;
    position: fixed;
    z-index:3;
    border: 1px solid rgb(206, 198, 198);
    border-radius: 20px;
    width: 500px;
    margin-top: 120px;
    margin-left: 480px;
    height:160px;
    text-align: center;
    

}
.table-logout{
    width: 400px;
    height: 90%;
    margin: auto;
    margin-top: 10px;
}
.table-logout span{
    font-size: 20px;
    font-weight: bold;
}
.btn-accept{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 40px;
    margin: auto;
    margin-top: 50px;

}
.btn-accept button{
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}
/* ==== */
.in-content .form-check input{
    border: none;
    border-bottom: 1px solid rgb(121, 113, 113);
    outline: none;
    align-items: center;
}
/* title content */
.title-content{
    position: relative;
    width: 100%;

    text-align: center;
    border: 1px solid rgb(230, 229, 229);
    background-color: #57cbf5;
    box-shadow: 0px 6px 8px rgb(162, 201, 240) ;
    border-radius: 6px;
}
.in-title-content{
    width: 90%;
    margin: auto;   
    color: #ffffff;
    font-weight: bold;
   
}
/* 1 */
#showansewr1{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;

}
/* 2 */
#showansewr2{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 3 */
#showansewr3{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}

/* 4 */

#showansewr4{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}

/* 5 */

#showansewr5{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 6 */
#showansewr6{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 7 */
#showansewr7{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 8 */
#showansewr8{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 9 */
#showansewr9{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 10 */
#showansewr10{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 11 */
#showansewr11{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 12 */
#showansewr12{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 13 */
#showansewr13{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 14 */
#showansewr14{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 15 */
#showansewr15{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 16 */
#showansewr16{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 17 */
#showansewr17{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 18 */
#showansewr18{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 19 */
#showansewr19{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 20 */
#showansewr20{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 21 */
#showansewr21{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 22 */
#showansewr22{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 23 */
#showansewr23{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 24 */
#showansewr24{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 25 */
#showansewr25{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 26 */
#showansewr26{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 27 */
#showansewr27{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 28 */
#showansewr28{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 29 */
#showansewr29{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 30 */
#showansewr30{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 31 */
#showansewr31{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 32 */
#showansewr32{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 33 */
#showansewr33{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 34 */
#showansewr34{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 35 */
#showansewr35{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 36 */
#showansewr36{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 37 */
#showansewr37{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 38 */
#showansewr38{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 39 */
#showansewr39{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 40 */
#showansewr40{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 41 */
#showansewr41{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 42 */
#showansewr42{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 43 */
#showansewr43{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 44 */
#showansewr44{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 45 */
#showansewr45{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 46 */
#showansewr46{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 47 */
#showansewr47{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 48 */
#showansewr48{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 49 */
#showansewr49{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}
/* 50 */
#showansewr50{
    position: absolute;
    margin-left: 120px;
    margin-bottom: 170px;
}


/* lời giải */
#loigiai1{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai2{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai3{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai4{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai5{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai6{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai7{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai8{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai9{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai10{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
/* 10 lời giải */
#loigiai11{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai12{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai13{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;

}
#loigiai14{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai15{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai16{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai17{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai18{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai19{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai20{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
/* 20 lời giải */
#loigiai21{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai22{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai23{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai24{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai25{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai26{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai27{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai28{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai29{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai30{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
/* 30 lời giải */
#loigiai31{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai32{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai33{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai34{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai35{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai36{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai37{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai38{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai39{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai40{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
/* 40 lời giải */
#loigiai41{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai42{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai43{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai44{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai45{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai46{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai47{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai48{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai49{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
#loigiai50{
    display: flex;
    position: absolute;
    z-index: 4;
    border:1px solid rgb(206, 198, 198);
    box-shadow: 0px -4px 10px grey;
    border-radius: 6px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 100px;
    
}
/* point1 */
.right-in-container .content .all-content .in-content .cauhoi #point{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point2 */
.right-in-container .content .all-content .in-content .cauhoi #point2{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point3 */
.right-in-container .content .all-content .in-content .cauhoi #point3{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point4 */
.right-in-container .content .all-content .in-content .cauhoi #point4{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point5 */
.right-in-container .content .all-content .in-content .cauhoi #point5{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point6 */
.right-in-container .content .all-content .in-content .cauhoi #point6{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point7 */
.right-in-container .content .all-content .in-content .cauhoi #point7{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point8 */
.right-in-container .content .all-content .in-content .cauhoi #point8{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point9 */
.right-in-container .content .all-content .in-content .cauhoi #point9{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point10 */
.right-in-container .content .all-content .in-content .cauhoi #point10{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* 10 điểm */
/* point1 */
.right-in-container .content .all-content .in-content .cauhoi #point11{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point12 */
.right-in-container .content .all-content .in-content .cauhoi #point12{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point13 */
.right-in-container .content .all-content .in-content .cauhoi #point13{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point14 */
.right-in-container .content .all-content .in-content .cauhoi #point14{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point15 */
.right-in-container .content .all-content .in-content .cauhoi #point15{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point16 */
.right-in-container .content .all-content .in-content .cauhoi #point16{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point17 */
.right-in-container .content .all-content .in-content .cauhoi #point17{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point18 */
.right-in-container .content .all-content .in-content .cauhoi #point18{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point19 */
.right-in-container .content .all-content .in-content .cauhoi #point19{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point20 */
.right-in-container .content .all-content .in-content .cauhoi #point20{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* 20 điểm */
/* point21 */
.right-in-container .content .all-content .in-content .cauhoi #point21{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point22 */
.right-in-container .content .all-content .in-content .cauhoi #point22{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point23 */
.right-in-container .content .all-content .in-content .cauhoi #point23{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point24 */
.right-in-container .content .all-content .in-content .cauhoi #point24{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point25 */
.right-in-container .content .all-content .in-content .cauhoi #point25{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point26 */
.right-in-container .content .all-content .in-content .cauhoi #point26{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point27 */
.right-in-container .content .all-content .in-content .cauhoi #point27{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point28 */
.right-in-container .content .all-content .in-content .cauhoi #point28{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point29 */
.right-in-container .content .all-content .in-content .cauhoi #point29{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point30 */
.right-in-container .content .all-content .in-content .cauhoi #point30{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* 30 điểm */
/* point31 */
.right-in-container .content .all-content .in-content .cauhoi #point31{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point32 */
.right-in-container .content .all-content .in-content .cauhoi #point32{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point33 */
.right-in-container .content .all-content .in-content .cauhoi #point33{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point34 */
.right-in-container .content .all-content .in-content .cauhoi #point34{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point35 */
.right-in-container .content .all-content .in-content .cauhoi #point35{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point36 */
.right-in-container .content .all-content .in-content .cauhoi #point36{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point37 */
.right-in-container .content .all-content .in-content .cauhoi #point37{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point38 */
.right-in-container .content .all-content .in-content .cauhoi #point38{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point39 */
.right-in-container .content .all-content .in-content .cauhoi #point39{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point40 */
.right-in-container .content .all-content .in-content .cauhoi #point40{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* 40 điểm */
/* point41 */
.right-in-container .content .all-content .in-content .cauhoi #point41{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point42 */
.right-in-container .content .all-content .in-content .cauhoi #point42{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point43 */
.right-in-container .content .all-content .in-content .cauhoi #point43{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point44 */
.right-in-container .content .all-content .in-content .cauhoi #point44{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point45 */
.right-in-container .content .all-content .in-content .cauhoi #point45{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point46 */
.right-in-container .content .all-content .in-content .cauhoi #point46{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}

/* point47 */
.right-in-container .content .all-content .in-content .cauhoi #point47{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point48 */
.right-in-container .content .all-content .in-content .cauhoi #point48{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point49 */
.right-in-container .content .all-content .in-content .cauhoi #point49{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* point50 */
.right-in-container .content .all-content .in-content .cauhoi #point50{
    position: absolute;
    border: 1px solid #57cbf5;
    border-radius: 4px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 600px;
}
/* 50 điểm */